::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #f9a1bc;
}

::selection {
  color: white;
  background: #f9a1bc;
}

.prose .ejs .placeholder {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
